<div class="row full-screen">
  <div class="row header">
    <mat-toolbar class="top-app-bar">
      <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <button mat-icon-button class="directions-car-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>directions_car</mat-icon>
      </button>
      <span class="top-app-bar-text">Second Line</span>
      <span class="icons-spacer"></span>
      <button mat-icon-button class="person-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button class="home-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="login-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <div class="body">
    <mat-card class="card-pesquisas">
      <mat-grid-list cols="4">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</div>